In [1]:
from pyspark import SparkConf
from pyspark.sql import SparkSession

In [2]:
conf = SparkConf()
spark = SparkSession.builder.config(conf=conf).getOrCreate()

23/11/15 16:47:53 WARN Utils: Your hostname, Shashanks-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 10.250.46.228 instead (on interface en0)
23/11/15 16:47:53 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/11/15 16:47:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [9]:
test_df = spark.read.csv('test_df1.csv', header = True)

In [10]:
test_df.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|NULL|      NULL| 40000|
|     NULL|  34|        10| 38000|
|     NULL|  36|      NULL|  NULL|
+---------+----+----------+------+

In [11]:
test_df.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [13]:
test_df[test_df.Salary <= 20000].collect()

[Row(Name='Sunny', age='29', Experience='4', Salary='20000'),
 Row(Name='Paul', age='24', Experience='3', Salary='20000'),
 Row(Name='Harsha', age='21', Experience='1', Salary='15000'),
 Row(Name='Shubham', age='23', Experience='2', Salary='18000')]

In [14]:
spark.stop()