In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/song_lyrics.csv")

In [3]:
df_temp = df.head(10)

In [4]:
df_temp.to_csv('data/temp.csv')

In [4]:
df.head()

,title,tag,artist,year,views,features,lyrics,id,language_cld3,language_ft,language
0,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}","[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1,en,en,en
1,Can I Live,rap,JAY-Z,1996,468624,{},"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",3,en,en,en
2,Forgive Me Father,rap,Fabolous,2003,4743,{},Maybe cause I'm eatin\nAnd these bastards fien...,4,en,en,en
3,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}",[Produced by Kanye West and Brian Miller]\n\n[...,5,en,en,en
4,Fly In,rap,Lil Wayne,2005,78271,{},"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6,en,en,en

In [5]:
df.columns

Index(['title', 'tag', 'artist', 'year', 'views', 'features', 'lyrics', 'id',
       'language_cld3', 'language_ft', 'language'],
      dtype='object')

In [6]:
df.tag.value_counts()

tag
pop        2138587
rap        1724816
rock        793220
rb          196462
misc        181455
country     100316
Name: count, dtype: int64

In [32]:
df.isna().sum()

title               188
tag                   0
artist                0
year                  0
views                 0
features              0
lyrics                0
id                    0
language_cld3     39817
language_ft      134322
language         226918
dtype: int64

In [25]:
music = df[df.tag!='misc']

In [27]:
music['language_cld3'] = music['language_cld3'].fillna(music['language_ft'])
music['language_cld3'] = music['language_cld3'].fillna(music['language'])

/var/folders/ws/tmqw3bw90s1gt_qpctyr0fxw0000gn/T/ipykernel_54324/2182699024.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  music['language_cld3'].fillna(music['language_ft'], inplace=True)

In [28]:
music.isna().sum()

title               177
tag                   0
artist                0
year                  0
views                 0
features              0
lyrics                0
id                    0
language_cld3     36111
language_ft      125338
language         213309
dtype: int64

In [34]:
music = music[music.language_cld3=='en']

In [35]:
music.shape

(3282393, 11)

In [36]:
music.isna().sum()

title              122
tag                  0
artist               0
year                 0
views                0
features             0
lyrics               0
id                   0
language_cld3        0
language_ft      20037
language         49181
dtype: int64

In [39]:
music.drop(['language_cld3', 'language_ft', 'language'], axis = 1, inplace = True)

In [40]:
music.head()

,title,tag,artist,year,views,features,lyrics,id
0,Killa Cam,rap,Cam'ron,2004,173166,"{""Cam\\'ron"",""Opera Steve""}","[Chorus: Opera Steve & Cam'ron]\nKilla Cam, Ki...",1
1,Can I Live,rap,JAY-Z,1996,468624,{},"[Produced by Irv Gotti]\n\n[Intro]\nYeah, hah,...",3
2,Forgive Me Father,rap,Fabolous,2003,4743,{},Maybe cause I'm eatin\nAnd these bastards fien...,4
3,Down and Out,rap,Cam'ron,2004,144404,"{""Cam\\'ron"",""Kanye West"",""Syleena Johnson""}",[Produced by Kanye West and Brian Miller]\n\n[...,5
4,Fly In,rap,Lil Wayne,2005,78271,{},"[Intro]\nSo they ask me\n""Young boy\nWhat you ...",6

In [41]:
# clean features (can drop)
# clean lyrics
# can drop id

In [43]:
music.to_csv('data/music.csv')

: